@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&family=Rubik+Doodle+Shadow&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&family=Rubik+Doodle+Shadow&family=Rubik:wght@300&display=swap');

body {

    margin: 0;
    padding: 0;
    background-image: url(../../../public/image/bg.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    backdrop-filter: blur(5px);
color: rgb(255, 253, 253);
}
.heading{
    font-size: 60px;
    font-family: cursive;
}


.rules {
    max-width: 800px;

    background-color:rgb(46, 26, 69,.5) ;
    font-family: poppins;
    font-size: 20px;
    padding: 20px;
    border-radius: 20px;
    box-shadow: rgba(249, 248, 248, 0.25) 0px 54px 55px, rgba(243, 240, 240, 0.12) 0px -12px 30px, rgba(249, 245, 245, 0.12) 0px 4px 6px, rgba(246, 241, 241, 0.17) 0px 12px 13px, rgba(249, 245, 245, 0.09) 0px -3px 5px;
   margin: auto;
    margin-top: 15%;

}
.description ul {
    list-style-type: disc; 
    padding-left: 20px;   
}


@media screen and (max-width: 1200px) {
    .rules {
        max-width: 700px;
        margin-left: 150px;
        margin-top: 10%;
    }
}

@media screen and (max-width: 800px) {
    .rules {
        max-width: 500px;
        margin-left: 50px;
        margin-top: 10%;
    }
}

@media screen and (max-width: 600px) {
    .rules {
        max-width: 100%;
        margin-left: 10px;
        margin-right: 10px;
        font-size: 17px;
        margin-top: 10%;
    }
}
@media screen and (min-width:468px){
    .rules{
        margin-top: 15%;
    }
}