


@font-face {
    font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
 src: url(../../../public/font/Poppins-Black.ttf)
}

.containerrules{
height: 60vh;

width: 80%;
margin: auto;

}


.heading{
    font-size: 60px;
font-family: Georgia, 'Times New Roman', Times, serif;
}


.rules {


    background-color:rgb(46, 26, 69,.5) ;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 2.5rem;
    padding: 20px;
    border-radius: 20px;
    box-shadow: rgba(249, 248, 248, 0.25) 0px 54px 55px, rgba(243, 240, 240, 0.12) 0px -12px 30px, rgba(249, 245, 245, 0.12) 0px 4px 6px, rgba(246, 241, 241, 0.17) 0px 12px 13px, rgba(249, 245, 245, 0.09) 0px -3px 5px;
    margin: auto;
margin-top: 20%;
   width: 80%;


;

}
.description ul {
    list-style-type: disc; 
    padding-left: 20px;   
}


@media screen and (max-width: 1200px) {

    .containerrules{
        width: 100%;
    }
    .rules {

        margin: auto;
        margin-top: 30%;
    }
}

@media screen and (max-width: 800px) {
    .containerrules{
        width: 100%;
    }
    .rules {

        margin: auto;
        margin-top: 30%;
    }
}

@media screen and (max-width: 600px) {
    .containerrules{
        width: 100%;
    }
    .rules {
        max-width: 100%;
         margin: auto;
         margin-top: 30%;
        font-size: 2.5rem;

    }
}
@media screen and (max-width:468px){

    .containerrules{
        width: 100%;

    }
    .rules{
        margin-top: 30%;
        font-size: 2rem;
    }
}