

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&family=Rubik+Doodle+Shadow&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&family=Rubik+Doodle+Shadow&family=Rubik:wght@300&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&family=Rubik+Doodle+Shadow&family=Rubik:wght@300&family=Space+Mono&display=swap');
  @import url('https://fonts.cdnfonts.com/css/space-age');

  * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }

    @import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@600");

    :root {
      --bar-scale-y: 0;
      --sparkle-color: rgb(253 244 215 / 40%);
    }
    
    @keyframes pop-word {
      to {
        transform: rotateX(0);
      }
    }
    
    @keyframes show {
      to {
        opacity: 1;
      }
    }
    
    @keyframes bar-scale {
      to {
        transform: scaleY(1);
      }
    }
    
    @keyframes sparkle {
      0% {
        transform: scale(0);
      }
    
      60% {
        transform: scale(1) translate(4px, 1px) rotate(8deg);
      }
    
      100% {
        transform: scale(0) translate(4px, 1px) rotate(8deg);
      }
    }
    
    @keyframes shimmer {
      to {
        text-shadow: 0 0 8px red;
      }
    }
    
    body {
        display: grid;
        margin: 0;
        padding: 0;
        background-image: url(../../../public/image/bg.png);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        height: 100vh;
;

    }
    

    h1 {
      color: white;
      font-family: "Playfair Display", Vidaloka, serif;
      font-size: 8rem;
    
      line-height: 1;
      perspective: 500px;
    }
    
    .word {
      display: block;
    
      animation: show 0.01s forwards, pop-word 1.5s forwards;
      animation-timing-function: cubic-bezier(0.14, 1.23, 0.33, 1.16);
      opacity: 0;
      font-family: 'Orbitron', sans-serif;
      transform: rotateX(120deg);
      transform-origin: 50% 100%;
      margin-top: 200px;
     
    }
    
    .word:nth-of-type(2) {
      padding: 0 2rem;
      font-family: 'Orbitron', sans-serif;
      animation-delay: 1.5s;
    
      color: gold;
      margin-top: 100px;

    }
    
    .superscript {
      position: relative;
      animation-delay: 1.5s;
    
      animation-duration: 10s;
      animation-name: shimmer;
      font-family: 'Space Age', sans-serif;
    
      vertical-align: text-top;

    }
    

    .superscript::before {
      --bar-width: 25%;
    
      position: absolute;
    
      top: 37%;
      left: 47%;
      width: 14%;
      height: 48%;
    
      animation: bar-scale 0.25s linear 3s 1 forwards;
    
      background: linear-gradient(
        to right,
        white var(--bar-width),
        transparent var(--bar-width) calc(100% - var(--bar-width)),
        white calc(100% - var(--bar-width))
      );
    
      content: "";
    
      transform: scaleY(var(--bar-scale-y));
    }
    
    /* sparkle */
    .superscript::after {
      --size: 10rem;
    
      position: absolute;
    
      top: -5%;
      left: -85%;
    
      width: var(--size);
      height: var(--size);
    
      animation: sparkle 0.4s linear 3.5s 1 forwards;
    
      background: radial-gradient(
          circle at center,
          rgb(252 249 241 / 94%) 0% 7%,
          transparent 7% 100%
        ),
        conic-gradient(
          transparent 0deg 18deg,
          var(--sparkle-color) 18deg,
          transparent 20deg 40deg,
          var(--sparkle-color) 40deg,
          transparent 43deg 87deg,
          var(--sparkle-color) 87deg,
          transparent 95deg 175deg,
          var(--sparkle-color) 175deg,
          transparent 178deg 220deg,
          var(--sparkle-color) 220deg,
          transparent 222deg 270deg,
          var(--sparkle-color) 270deg,
          transparent 275deg 300deg,
          var(--sparkle-color) 300deg,
          transparent 303deg 360deg
        );
    
      border-radius: 50%;
      clip-path: polygon(
        50% 0,
        59.13% 26.64%,
        85.13% -2.35%,
        100% 50%,
        50% 100%,
        0 50%,
        31.39% 34.86%
      );
    
      content: "";
    
      filter: blur(1px);
    
      transform: scale(0);
    }
    #presents{
      font-size: 10rem;
      margin-left: 0px;
     /* margin-top: -600px; */
      /* text-align: center; */
      font-family: 'Orbitron', sans-serif;

    }
  #Abhedya{
      color: white;
      font-size: 10rem;
      margin-left: 0px;
      font-family: 'Orbitron', sans-serif;
      /* text-align: center; */
      
  }
    
    @media screen and (max-width: 600px) {
      h1 {
        font-size: 2.5rem;
        text-align: center;
        display: block;
        

      }

      #presents{
          margin-left: 20px;
          font-size: 2.5rem;
          margin-top: 150px;
          font-family: 'Orbitron', sans-serif
          
      }
      #Abhedya{
          font-size: 2.5rem;

          font-family: 'Orbitron', sans-serif

         
      }
       /* sparkle */
     .superscript::after {
      --size: 6rem;
      margin-left: -50px;
      }
    
    
  }
  
#presents{
margin-left: 20px;
font-size: 10rem;
margin-top: 200px;
font-family: 'Rubik Doodle Shadow', system-ui;


}
#Abhedya{
font-size: 10rem;

font-family: 'Rubik Doodle Shadow', system-ui;


margin-left: 0px;
margin-top: 0;


}

/* .message
{

width: 800px;
font-size: 1.4rem;
line-height: 30px;
height: 300px;
color: white ;
font-family: 'Rubik', sans-serif;
background-color: rgb(61, 46, 51,.4);
border-radius: 20px;
box-shadow: rgba(241, 239, 239, 0.25) 0px 54px 55px, rgba(249, 247, 247, 0.12) 0px -12px 30px, rgba(239, 237, 237, 0.12) 0px 4px 6px, rgba(249, 248, 248, 0.17) 0px 12px 13px, rgba(247, 245, 245, 0.09) 0px -3px 5px;
padding: 25px;
margin-left: 350px;
margin-top: 50px;


}

.logos{


margin-top: 120px;
margin-left: 0px;
text-align: center;
display: block;
} */

@media (max-width: 1400px) {

  #presents{

  margin-left: 20px;
  font-size: 7rem;
  margin-top: 230px;
  font-family: 'Rubik Doodle Shadow', system-ui;
  
  
  }
  #Abhedya{
  font-size: 7rem;
  font-family: 'Rubik Doodle Shadow', system-ui;
  margin-left: 20px;
  }
  
  
   
   }
@media (max-width: 1200px) {

  #presents{

  margin-left: 20px;
  font-size: 5rem;
  margin-top: 230px;
  font-family: 'Rubik Doodle Shadow', system-ui;
  
  
  }
  #Abhedya{
  font-size: 5rem;
  font-family: 'Rubik Doodle Shadow', system-ui;
  margin-left: 20px;
  }
  
  
   
   }

   @media (max-width: 1000px) {
  
    #presents{
  
    margin-left: 20px;
    font-size: 4rem;
    margin-top: 200px;
    font-family: 'Rubik Doodle Shadow', system-ui;
    
    
    }
    #Abhedya{
    font-size: 4rem;
    font-family: 'Rubik Doodle Shadow', system-ui;
    margin-left: 20px;
    }
    
    
     
     } 
  

@media (max-width: 760px) {


#presents{
margin-left: 20px;
font-size: 3rem;
margin-top: 250px;
font-family: 'Rubik Doodle Shadow', system-ui;


}
#Abhedya{
font-size: 3rem;

font-family: 'Rubik Doodle Shadow', system-ui;
margin-left: 20px;
}



}
@media (max-width: 560px) {
  .message{
  font-size: 1rem;
  line-height: 20px;
  width: 90%;
  font-family: 'Rubik', sans-serif;
  margin-left: 5%;
  }
  #presents{
  margin-left: 20px;
  font-size: 2.5rem;
  margin-top: 250px;
  font-family: 'Rubik Doodle Shadow', system-ui;
  
  
  }
  #Abhedya{
  font-size: 2.5rem;
  
  font-family: 'Rubik Doodle Shadow', system-ui;
  margin-left: 20px;
  }
  
  
  
  }
  @media (max-width: 390px) {
    .message{
    font-size: 1rem;
    line-height: 20px;
    width: 90%;
    font-family: 'Rubik', sans-serif;
    margin-left: 5%;


    }
    #presents{
    margin-left: 20px;
    font-size: 2.5rem;
    margin-top: 250px;
    font-family: 'Rubik Doodle Shadow', system-ui;
    
    
    }
    #Abhedya{
    font-size: 2.5rem;
    
    font-family: 'Rubik Doodle Shadow', system-ui;
    margin-left: 20px;
    }
    
    
    
    }

