 @font-face {
  font-family: 'Poppins', sans-serif;
font-style: normal;
font-weight: 400;
src: url(../../../public/font/Poppins-Black.ttf)
} 
.gamecont{
  height: 60vh;
}

.level1{
    font-size: 60px;
    font-family: 'Space Age', sans-serif;  
}

  .game-container {

    background-color: rgba(114 35 100 / .5);
    padding: 20px;
    border-radius: 10px;
    width: 80%;
    margin: auto;
    margin-top: 200px;
    box-shadow: rgba(249, 248, 248, 0.25) 0px 54px 55px, rgba(243, 240, 240, 0.12) 0px -12px 30px, rgba(249, 245, 245, 0.12) 0px 4px 6px, rgba(246, 241, 241, 0.17) 0px 12px 13px, rgba(249, 245, 245, 0.09) 0px -3px 5px;
  }

  .question-text {
    font-size: 4rem;
    margin-bottom: 20px;
font-family: cursive;
  }

  input {
    padding: 10px;
    font-size: 16px;
    margin-bottom: 20px;
  }

  button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;

    color: #fff;
    border: none;
    border-radius: 5px;
  }

  /* button:hover {
border: solid 4px white;

  } */

  @media (max-width: 768px) {
    .game-container {
      width: 80%;
      margin-top: 150px;

    }
  
    .level1 {
      font-size: 6rem;
      font-family: 'Space Age', sans-serif;  
    }
  
    .question-text {
      font-size:3rem;
      font-family: cursive;
    }
  }
  
  @media (max-width: 480px) {
    .game-container {
      width: 90%;
      margin-top: 100px;
 
    }
  
    .level1 {
      font-size: 4rem;
      font-family: 'Space Age', sans-serif;  
    }
  
    .question-text {
      font-size: 2rem;
      font-family: cursive;
    }
  
    input,
    button {
      font-size: 14px;
    }
  }