

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}





.timeline {
  background: var(--primary-color);

  padding: 20px;
  margin-top: 100px;
;

  
}

.outer {
  border-left: 2px solid #333;

  
}

.cardtimeline {
  position: relative;
  margin: 0 0 20px 20px;
  padding: 20px;
  background: rgba(74 32 85 / .3);
  border: 1px solid rgb(255, 255, 255);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  color: rgba(255, 255, 255, 0.9);
  border-radius: 10px;
  max-width: 900px;
  width: 100%;

  
}

.info {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.titletimeline {
color: white;
font-family: 'Space Age', sans-serif;
  position: relative;
background-color: rgb(128, 0, 128,.5);
  padding: 10px;
  border-radius: 5px;
  font-size: 30px;

;
}

.titletimeline::before {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  background: white;
  border-radius: 50%;
  left: -20px;
  top: 50%;
  transform: translateY(-50%);
  border: 3px solid orangered;


}

p{
  font-size: 22px;
font-family: Arial, Helvetica, sans-serif;

}

@media (min-width: 768px) {

.timeline{
margin-left: 10%;
  margin-top: 10%;

}
}

@media (min-width: 900px) {
  .cardtimeline {
      max-width: 800px;
  }
}

@media (min-width: 850px) {
  .cardtimeline {
      max-width: 775px;
  }
}

@media Screen and (max-width:468px){

  .cardtimeline{
    width: 90%;
  }
}