* {
    margin: 0;
    padding: 0;
  }
  
  body {
    
    background: var(--background-color);
    font-family: var(--font);
    display: flex;
    justify-content: center;
    background-image: url("../../../public/image/bg.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
  }
  
  /* Timeline Container */
  /* .timeline {
    background: var(--primary-color);
    margin: 20px auto;
    padding: 20px;
  } */

  .timeline {

    margin-top: 30px;
  }
  
  
  .outer {
    border-left: 2px solid #333;
  }
  
  /* Card container */
  .cardtimeline{
    position: relative;
    margin: 0 0 20px 20px;
    padding: 10px;
    background: #90909067;
    border: 1px solid rgb(255, 255, 255);
    box-shadow: 10px;
    color: rgba(255, 255, 255, 0.875);
    border-radius: 10px;
width: 800px;
    height: 100px;
  
  }
  
  

  /* Information about the timeline */
  .info {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  /* .card >.info > h3 {
    background-color: #393939a8;
    padding: 5px;
    border-radius: 3px
  } */

  /* Title of the card */
  .title {
    color: orangered;
    position: relative;
  }
  
  /* Timeline dot  */
  .title::before {
    content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  background: white;
  border-radius: 999px;
  left: -39px;
  border: 3px solid orangered;
}
  
  
  
@media (min-width: 900px) {
  .card {
    max-width: 800px;
  }
}
@media (min-width: 850px) {
  .card {
    max-width: 775px;
  }
}