/*-----------------------------------*\
  #style.css
\*-----------------------------------*/

/**
 * copyright 2022 codewithsadee
 */
 @font-face {
  font-family: 'Poppins', sans-serif;
font-style: normal;
font-weight: 400;
src: url(../../../public/font/Poppins-Black.ttf)
}



@font-face {
  font-family: "MODERN WARFARE";
font-style: normal;
font-weight: 400;
src: url(../../../public/font/ModernWarfare-OV7KP.ttf)
}


/*-----------------------------------*\
  #CUSTOM PROPERTY
\*-----------------------------------*/

:root {

    /**
     * colors
     */
  
    --rich-black-fogra-29_95: hsla(222, 18%, 11%, 0.95);
    --raisin-black-1: hsl(0, 0%, 16%);
    --raisin-black-2: hsl(236, 17%, 17%);
    --raisin-black-3: hsl(280, 11%, 11%);
    --raisin-black-4: hsl(280, 8%, 15%);
    --english-violet: hsl(274, 21%, 23%);
    --eerie-black-1: hsl(277, 25%, 10%);
    --eerie-black-2: hsl(280, 7%, 8%);
    --roman-silver: hsl(220, 6%, 59%);
    --quick-silver: hsl(0, 1%, 65%);
    --light-gray-1: hsl(0, 0%, 80%);
    --light-gray-2: hsl(0, 2%, 82%);
    --marigold_75: hsla(42, 99%, 46%, 0.75);
    --xiketic_90: hsla(280, 37%, 8%, 0.9);
    --cultured-2: hsl(0, 0%, 97%);
    --marigold: hsl(42, 99%, 46%);
    --platinum: hsl(0, 0%, 89%);
    --dim-gray: hsl(0, 0%, 42%);
    --white_15: hsla(0, 0%, 100%, 0.15);
    --white_10: hsla(0, 0%, 100%, 0.1);
    --xiketic: hsl(277, 25%, 10%);
    --silver: hsl(0, 0%, 78%);
    --white: hsl(0, 0%, 100%);
    --jet: hsl(236, 13%, 23%);
  
    /**
     * typography
     */
  
    --ff-oxanium: 'Oxanium', cursive;
    --ff-poppins: 'Poppins', sans-serif;
  
    --fs-1: 7rem;
    --fs-2: 4.5rem;
    --fs-3: 3.6rem;
    --fs-4: 2.4rem;
    --fs-5: 2.2rem;
    --fs-6: 5rem;
    --fs-7: 1.6rem;
    --fs-8: 1.5rem;
    --fs-9: 1.4rem;
    --fs-10: 1.3rem;
    --fs-11: 1.2rem;
  
    --fw-500: 500;
    --fw-600: 600;
    --fw-700: 700;
    --fw-800: 800;
  
    /**
     * spacing
     */
  
    --section-padding: 120px;
  
    /**
     * gradient
     */
  
    --gradient: radial-gradient(circle, hsl(250, 7%, 17%), hsl(250, 11%, 11%));
  
    /**
     * box shadow
     */
  
    --shadow-1: 0px 2px 8px 0px hsla(0, 0%, 0%, 0.2),
                inset 0px 2px 8px 0px hsla(0, 0%, 0%, 0.4);
    --shadow-2: 0px 5px 10px 1px hsla(0, 0%, 0%, 0.4);
    --shadow-3: 0px 5px 10px 1px hsla(219, 98%, 17%, 0.2);
    --shadow-4: 0px 5px 10px 1px hsla(0, 0%, 0%, 0.15);
  
    /**
     * transition
     */
  
    --transition: 0.25s ease;
    --cubic-out: cubic-bezier(0.33, 0.85, 0.4, 0.96);
  
  }
  .section{
    background-image: url(../../../public/image/bg.png);
    height: auto;
    width: 100%;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

.container2 {
  width:100%;
  height: 500px;
  /* background-position: center;
  background-size: cover; */
  

}
.container3 {
  width: 100%;
  height:auto;
  margin-top: 8ch;
}
.readmoretext {
  color: azure;
  text-align: center;
}
  
  
  
  
  
  /*-----------------------------------*\
    #RESET
  \*-----------------------------------*/

  
  

  
  li { list-style: none; }
  
  a {
    text-decoration: none;
    color: inherit;
  }
  
  a,
  img,
  span,
  time,
  input,
  button,
  ion-icon { display: block; }
  
  img { height: auto; }
  


  
  button { cursor: pointer; }
  
  ion-icon { pointer-events: none; }
  
  address { font-style: normal; }
  
  html {
    font-family: var(--ff-poppins);
    font-size: 10px;
    scroll-behavior: smooth;
  }
  
  body {
    background-color: var(--raisin-black-3);
    font-size: 1.6rem;
    line-height: 1.5;
  }
  
  :focus-visible { outline-offset: 4px; }
  
  
  
  
  
  /*-----------------------------------*\
    #REUSED STYLE
  \*-----------------------------------*/
  
  .container { padding-inline: 15px; }
  
  .section { padding-block: var(--section-padding); }
  
  .h1,
  .h2,
  .h3 {
    color: var(--white);
    font-family: var(--ff-oxanium);
    font-weight: var(--fw-800);
    line-height: 1;
  }
  
  .h1 {
    font-size: var(--fs-2);
    letter-spacing: -3px;
  }
  
  .h2 { font-size: var(--fs-3); }
  
  .h3 {
    font-size: var(--fs-6);
    text-transform: uppercase;
  }
  
  :is(.h1, .h2, .h3, .card-price) .span {
    display: inline-block;
    color: var(--marigold);
  }
  
  .btn {
    margin-inline: auto;
    color: var(--eerie-black-1);
    font-size: var(--fs-8);
    text-transform: uppercase;
    font-weight: var(--fw-700);
    min-height: 55px;
    padding-inline: 35px;
  }
  
  .skewBg {
    position: relative;
    z-index: 1;
  }
  
  .skewBg::before {
    content: "";
    position: absolute;
    inset: 0;
    transform: skewX(var(--skewX, -16deg));
    background-image: linear-gradient(to right, rgb(70, 201, 151,1), rgb(151, 70, 201,1)); 
    z-index: -1;
  }
  
  .btn::after {

    position: absolute;
    top: 0;
    bottom: 0;
    left: calc(100% + 8px);
    width: 5px;
    transform: skewX(-16deg) translateX(var(--translateX, 0));
    background-color: #9746c9;
    transition: var(--transition);
  }
  
  .btn:is(:hover, :focus)::after { --translateX: -13px; }
  
  .has-scrollbar {
    display: flex;
    gap: 30px;
    overflow-x: auto;
    padding-block-end: 30px;
    scroll-snap-type: inline mandatory;
  }
  
  .has-scrollbar::-webkit-scrollbar { height: 10px; }
  
  .has-scrollbar::-webkit-scrollbar-track { outline: 3px solid var(--marigold); }
  
  .has-scrollbar::-webkit-scrollbar-thumb { background-color: var(--marigold); }
  
  .has-scrollbar::-webkit-scrollbar-button { width: calc(25% - 40px); }
  
  .section-subtitle,
  .section-title {
    position: relative;
    text-align: center;
    text-transform: uppercase;
  }
  
  .section-subtitle {
    color: var(--silver);
    font-size: var(--fs-9);
    font-weight: var(--fw-700);
    margin-block-end: 10px;
  }
  
  .section-title::after {
    /* content: url("title-underline.png"); */
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
  }
  
  .scrollbar-item {
    min-width: 100%;
    scroll-snap-align: start;
  }
  
  .card-banner { background-color: var(--light-gray-1); }
  
  .img-holder { aspect-ratio: var(--width) / var(--height); }
  
  .img-cover {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .card-badge {
    min-height: 30px;
    color: var(--eerie-black-1);
    font-size: var(--fs-11);
    font-weight: var(--fw-700);
    text-transform: uppercase;
    max-width: max-content;
    display: grid;
    align-items: center;
    padding-inline: 20px;
  }
  
  .card-badge::before { --skewX: -10deg; }
  
  .w-100 { width: 100%; }
  
  .section-text {
    color: var(--color, var(--light-gray-1));
    font-size: var(--fs-8);
    font-weight: var(--fw-500);
    max-width: 65ch;
    margin-inline: auto;
    text-align: center;
    line-height: 1.8;
  }
  
  
  
  
  
  /*-----------------------------------*\
    #HEADER
  \*-----------------------------------*/
  
  .header-top,
  .cart-btn,
  .header-bottom::before,
  .navbar-link::before { display: none; }
  
  .header {
    position: relative;
    min-height: 1px;
  }
  
  .header-bottom {
    position: absolute;
    top: calc(100% - 1px);
    left: 0;
    width: 100%;
    background-color: var(--raisin-black-2);
    padding-block: 20px;
    z-index: 4;
  }
  
  .header-bottom.active {
    position: fixed;
    top: -85px;
    animation: slideIn 0.5s var(--cubic-out) forwards;
  }
  
  @keyframes slideIn {
    0% { transform: translateY(0); }
    100% { transform: translateY(100%); }
  }
  
  .header-bottom .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  

  /* font of abhedya */


  .logo {
    color: var(--white);

    font-size: 3rem;
    font-weight: var(--fw-800);
   

  }






  
  .header-actions {
    display: flex;
    align-items: center;
    gap: 20px;
  }
  
  
  
  .nav-toggle-btn {
    color: var(--white);
    font-size: 30px;
    border: 1px solid var(--white);
    padding: 4px;
  }
  
  .nav-toggle-btn.active .menu,
  .nav-toggle-btn .close { display: none; }
  
  .nav-toggle-btn .menu,
  .nav-toggle-btn.active .close { display: block; }
  
  .navbar {
    background-color: var(--eerie-black-1);
    color: var(--white);
    position: absolute;
    top: 100%;
    right: 0;
    width: 100%;
    max-width: 350px;
    visibility: hidden;
    max-height: 0;
    transition: 0.25s var(--cubic-out);
    overflow: hidden;
  }
  
  .navbar.active {
    visibility: visible;
    max-height: 275px;
    transition-duration: 0.5s;
  }
  
  .navbar-item:not(:last-child) { border-block-end: 1px solid var(--white_15); }
  
  .navbar-link {
    padding: 10px 25px;
    transition: var(--transition);
  }
  
  .navbar-link:is(:hover, :focus) { background-color: var(--white_10); }
  
  
  
  
  
  
  
  
  
  
  /*-----------------------------------*\
    #HERO
  \*-----------------------------------*/
  
  .hero-banner { display: none; }
  
  .hero {
    --section-padding: 60px;
    margin-block-start: 84px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    text-align: center;
    min-height: 100vh;
    display: grid;
    align-items: center;
  }
  
  .hero-subtitle {
    color: var(--marigold); 
    /* background: linear-gradient(to right, #f32170, #ff6b08,#cf23cf, #eedd44);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    font-size: var(--fs-6); */
    font-weight: var(--fw-700);
    text-transform: uppercase;
  }
  
  .hero-title { margin-block: 15px 12px; }
  
  .hero-text {
    color: var(--light-gray-2);
    margin-block-end: 45px;
  }
  
  .container2 {
    width:100%;
    height: 500px;
    /* background-position: center;
    background-size: cover; */
    
  
  }
  .container3 {
    width: 100%;
    height:auto;
    margin-top: 8ch;
  }
  .readmoretext {
    color: azure;
    text-align: center;
  }
  
  
  
  
  
  
  /*-----------------------------------*\
    #FOOTER
  \*-----------------------------------*/
  
  

  
  
  
  .naman{ position: relative;
    width:100%;
    height:200px;
    background-color:linear-gradient(to right, rgb(52, 3, 71), rgb(151, 70, 201,1));
    display:flex ;
  
  }
  .sahil{
    position: relative;
    width:100%;
    background: black;
    min-height: 50 vh;
    display:flex ;
  
  }
  
  
  
  
  .footer {
    position: relative;
    width: 100%;
    background: #3586ff;
    min-height: 50px;
    padding: 20px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  .social-icon,
  .menu {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    flex-wrap: wrap;
  }
  
  .social-icon__item,
  .menu__item {
    list-style: none;
  }
  
  .social-icon__link {
    font-size: 2rem;
    color: #fff;
    margin: 0 10px;
    display: inline-block;
    transition: 0.5s;
  }
  .social-icon__link:hover {
    transform: translateY(-10px);
  }
  
  .menu__link {
    font-size: 1.2rem;
    color: #fff;
    margin: 0 10px;
    display: inline-block;
    transition: 0.5s;
    text-decoration: none;
    opacity: 0.75;
    font-weight: 300;

  }
  
  .menu__link:hover {
    opacity: 1;
  }
  
  .footer p {
    color: #fff;
    margin: 15px 0 10px 0;
    font-size: 1rem;
    font-weight: 300;
  }
  
  .wave {
    position: absolute;
    top: -100px;
    left: 0;
    width: 100%;
    height: 100px;
    background: url("https://i.ibb.co/wQZVxxk/wave.png");
    background-size: 1000px 100px;
  }
  
  .wave#wave1 {
    z-index: 1000;
    opacity: 1;
    bottom: 0;
    animation: animateWaves 4s linear infinite;
  }
  
  .wave#wave2 {
    z-index: 999;
    opacity: 0.5;
    bottom: 10px;
    animation: animate 4s linear infinite !important;
  }
  
  .wave#wave3 {
    z-index: 1000;
    opacity: 0.2;
    bottom: 15px;
    animation: animateWaves 3s linear infinite;
  }
  
  .wave#wave4 {
    z-index: 999;
    opacity: 0.7;
    bottom: 20px;
    animation: animate 3s linear infinite;
  }
  
  @keyframes animateWaves {
    0% {
      background-position-x: 1000px;
    }
    100% {
      background-positon-x: 0px;
    }
  }
  
  @keyframes animate {
    0% {
      background-position-x: -1000px;
    }
    100% {
      background-positon-x: 0px;
    }
  }
  
  
  
  
  
  /*-----------------------------------*\
    #BACK TO TOP
  \*-----------------------------------*/
  
  .back-top-btn {
    position: fixed;
    bottom: 10px;
    right: 15px;
    background-color: var(--marigold);
    padding: 12px;
    z-index: 4;
    transition: var(--transition);
    opacity: 0;
    visibility: hidden;
  }
  
  .back-top-btn.active {
    opacity: 1;
    visibility: visible;
    transform: translateY(-10px);
  }
  
  
  
  
  /*-----------------------------------*\
    #MEDIA QUERIES
  \*-----------------------------------*/
  
  /**
   * responsive for larger than 576px screen
   */
  
  @media (min-width: 576px) {
  
    /**
     * REUSED STYLE
     */
  
    .container {
      max-width: 540px;
      width: 100%;
      margin-inline: auto;
    }
  
    .h1 { --fs-2: 7rem; }
  
  
  
    /**
     * HEADER
     */
  
    .header-actions { gap: 40px; }
  
    .cart-btn {
      display: block;
      position: relative;
      color: var(--white);
      font-size: 20px;
    }
  
    .cart-badge {
      position: absolute;
      top: -6px;
      right: -10px;
      background-color: var(--marigold);
      color: var(--eerie-black-1);
      font-size: var(--fs-11);
      border-radius: 20px;
      padding: 3px 5px;
      line-height: 1;
      font-weight: var(--fw-800);
    }
  
    /**
     * BRAND
     */
  
    .brand-item { min-width: calc(33.33% - 13.33px); }
  
  
  
    /**
     * FEATURED GAME 
     */
  
    .featured-game .scrollbar-item { min-width: 50%; }
  
  
  
    /**
     * BLOG
     */
  
    .blog-list {
      grid-template-columns: 75%;
      justify-content: center;
    }
  
  
  
    /**
     * FOOTER
     */
  
    .footer-top .container { grid-template-columns: 1fr 1fr; }
  
    .footer-brand,
    .footer-wrapper { grid-column: 1 / 3; }
  
  }
  
  
  
  
  
  /**
   * responsive for larger than 768px screen
   */
  
  @media (min-width: 768px) {
  
    /**
     * REUSED STYLE
     */
  
    .container { max-width: 720px; }
  
    .scrollbar-item { min-width: calc(50% - 15px); }
  
  
  
    /**
     * HERO
     */
  
    .hero-text {
      max-width: 60ch;
      margin-inline: auto;
    }
  
  
  
    /**
     * BRAND
     */
  
    .brand-item { min-width: calc(25% - 15px); }
  
  
  
    /**
     * LIVE MATCH
     */
  
    .live-match-banner .play-btn { font-size: 120px; }
  
    .live-match-player::after { font-size: 30rem; }
  
  
  
    /**
     * BLOG
     */
  
    .blog-list { grid-template-columns: 1fr 1fr; }
  
  
  
    /**
     * FOOTER
     */
  
    .footer-brand,
    .footer-wrapper { grid-column: auto; }
  
    .footer-bottom-img { display: block; }
  
    .footer-bottom { text-align: left; }
  
    .footer-bottom .container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 20px;
    }
  
  
  
    /**
     * BACK TO TOP
     */
  
    .back-top-btn {
      bottom: 50px;
      right: 45px;
    }
  
  }
  
  
  
  
  
  /**
   * responsive for larger than 992px screen
   */
  
  @media (min-width: 992px) {
  
    /**
     * REUSED STYLE
     */
  
    .container { max-width: 960px; }
  
    :is(.header, .hero, .live-match) .container { max-width: unset; }
  
    .scrollbar-item { min-width: calc(33.33% - 20px); }
  
  
  
    /**
     * HEADER
     */
  
    .header-top {
      display: block;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      width: 100%;
      padding-block: 20px;
    }
  
    .header-top .container {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  
    .countdown-text {
      color: var(--quick-silver);
      font-size: var(--fs-10);
      font-weight: var(--fw-600);
    }
  
    .countdown-text .span {
      display: inline-block;
      color: var(--xiketic);
      font-size: 1.8rem;
      font-weight: var(--fw-700);
      padding: 10px 20px;
      margin-inline: 5px;
    }
  
    .header :is(.social-wrapper, .social-list) {
      display: flex;
      align-items: center;
    }
  
    .header .social-wrapper { gap: 15px; }
  
    .header .social-list { gap: 10px; }
  
    .social-title {
      color: var(--white);
      font-family: var(--ff-oxanium);
      font-size: var(--fs-8);
      font-weight: var(--fw-700);
    }
  
    .header .social-link {
      background-color: var(--jet);
      color: var(--marigold);
      font-size: var(--fs-9);
      padding: 8px 10px;
    }
  
    .header-bottom { outline: 1px solid hsla(0, 0%, 0%, 0.2); }
  
    .header-bottom::before {
      display: block;
      top: 0;
      left: -15px;
      right: auto;
      width: 170px;
      --skewX: 16deg;
    }
  
    .nav-toggle-btn { display: none; }
  
    .navbar,
    .navbar.active {
      all: unset;
      margin-inline: auto 15px;
    }
  
    .navbar-list { display: flex; }
  
    .navbar-item:not(:last-child) { border-block-end: none; }
  
    .navbar-link {
      color: var(--white);
      font-family: var(--ff-oxanium);
      font-size: var(--fs-11);
      text-transform: uppercase;
      font-weight: var(--fw-700);
      padding: 10px 20px;
    }
  
    .navbar-link::before {
      display: block;
      opacity: 0;
      transition: var(--transition);
    }
  
    .navbar-link:is(:hover, :focus) {
      background-color: transparent;
      color: var(--xiketic);
    }
  
    .navbar-link:is(:hover, :focus)::before { opacity: 1; }
  
  
  
    /**
     * HERO
     */
  
    .hero { text-align: left; }
  
    .hero-banner { display: block; }
  
    .hero .container {
      display: grid;
      grid-template-columns: 1fr 0.9fr;
      align-items: center;
      gap: 50px;
    }
  
    .btn { margin-inline: 0; }
  
  
  
    /**
     * BRAND
     */
  
    .brand-item { min-width: calc(20% - 16px); }
  
  
  
    /**
     * LATEST GAME
     */
  
    .latest-game .has-scrollbar { padding-block-end: 0; }
  
  
  
    /**
     * LIVE MATCH
     */
  
    .live-match-banner {
      max-width: 700px;
      margin-inline: auto;
    }
  
    .live-match-player {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      align-items: center;
    }
  
    .live-match-detail { margin-block: 0; }
  
  
  
    /**
     * FEATURED GAME
     */
  
    .featured-game .scrollbar-item { min-width: 33.33%; }
  
  
  
    /**
     * BLOG
     */
  
    .blog-list {
      grid-template-columns: repeat(3, 1fr);
      gap: 30px;
    }
  
  
  
    /**
     * NEWSLETTER
     */
  
    .newsletter-form { max-width: 650px; }
  
  
  
    /**
     * FOOTER
     */
  
    .footer .container {
      grid-template-columns: 1fr 0.7fr 0.7fr;
      column-gap: 80px;
    }
  
  }
  
  
  
  
  
  /**
   * responsive for larger than 1200px screen
   */
  
  @media (min-width: 1200px) {
  
    /**
     * REUSED STYLE
     */
  
    .container,
    :is(.header, .hero, .live-match) .container { max-width: 1230px; }
  
    .h1 { --fs-2: 7.5rem; }
  
    .scrollbar-item { min-width: calc(25% - 22.5px); }
  
  
  
    /**
     * HEADER
     */
  
    .header-bottom::before { width: 270px; }
  
    .navbar-link {
      font-size: var(--fs-9);
      padding-inline: 25px;
    }
  
  
  
    /**
     * HERO
     */
  
    .hero .container { grid-template-columns: 1fr 1fr; }
  
  
  
    /**
     * BRAND
     */
  
    .brand-item { min-width: calc(16.66% - 16.66px); }
  
  
  
    /**
     * LIVE MATCH
     */
  
    .section-wrapper::before { height: 72%; }
  
    .live-match-banner { max-width: max-content; }
  
    .live-match-player::after { font-size: 35rem; }
  
  
  
    /**
     * FEATURED GAME
     */
  
    .featured-game .has-scrollbar { padding-block-end: 0; }
  
    .featured-game .scrollbar-item { min-width: 25%; }
  
  
  
    /**
     * SHOP
     */
  
    .shop .has-scrollbar { padding-block-end: 15px; }
  
  
  
    /**
     * NEWSLETTER
     */
  
    .newsletter-card {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-inline: 70px;
    }
  
    .newsletter .h2 { margin-block-end: 0; }
  
    .newsletter-form { margin-inline: 0; }
  
  
  
    /**
     * FOOTER
     */
  
    .footer .container { grid-template-columns: 1fr 0.7fr 0.7fr 1fr; }
  
  }





* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }



  :root {
    --bar-scale-y: 0;
    --sparkle-color: rgb(253 244 215 / 40%);
  }
  
  @keyframes pop-word {
    to {
      transform: rotateX(0);
    }
  }
  
  @keyframes show {
    to {
      opacity: 1;
    }
  }
  
  @keyframes bar-scale {
    to {
      transform: scaleY(1);
    }
  }
  
  @keyframes sparkle {
    0% {
      transform: scale(0);
    }
  
    60% {
      transform: scale(1) translate(4px, 1px) rotate(8deg);
    }
  
    100% {
      transform: scale(0) translate(4px, 1px) rotate(8deg);
    }
  }
  
  @keyframes shimmer {
    to {
      text-shadow: 0 0 8px red;
    }
  }

  

  h1 {
    color: white;
  font-family: 'cursive';
    font-size: 8rem;
  
    line-height: 1;
    perspective: 500px;
  }
  
  .word {
    display: block;
  
    animation: show 0.01s forwards, pop-word 1.5s forwards;
    animation-timing-function: cubic-bezier(0.14, 1.23, 0.33, 1.16);
    opacity: 0;
    font-family: 'cursive';
    transform: rotateX(120deg);
    transform-origin: 50% 100%;
  }
  
  .word:nth-of-type(2) {
    padding: 0 2rem;
    font-family: 'cursive';
    animation-delay: 1.5s;
  
    color: gold;
  }
  
  .superscript {
    position: relative;
    animation-delay: 1.5s;
  
    animation-duration: 10s;
    animation-name: shimmer;
    font-family: 'Space Age', sans-serif;
  
    vertical-align: text-top;
  }
  

  .superscript::before {
    --bar-width: 25%;
  
    position: absolute;
  
    top: 37%;
    left: 47%;
    width: 14%;
    height: 48%;
  
    animation: bar-scale 0.25s linear 3s 1 forwards;
  
    background: linear-gradient(
      to right,
      white var(--bar-width),
      transparent var(--bar-width) calc(100% - var(--bar-width)),
      white calc(100% - var(--bar-width))
    );
  
    content: "";
  
    transform: scaleY(var(--bar-scale-y));
  }
  
  /* sparkle */
  .superscript::after {
    --size: 10rem;
  
    position: absolute;
  
    top: -5%;
    left: -85%;
  
    width: var(--size);
    height: var(--size);
  
    animation: sparkle 0.4s linear 3.5s 1 forwards;
  
    background: radial-gradient(
        circle at center,
        rgb(252 249 241 / 94%) 0% 7%,
        transparent 7% 100%
      ),
      conic-gradient(
        transparent 0deg 18deg,
        var(--sparkle-color) 18deg,
        transparent 20deg 40deg,
        var(--sparkle-color) 40deg,
        transparent 43deg 87deg,
        var(--sparkle-color) 87deg,
        transparent 95deg 175deg,
        var(--sparkle-color) 175deg,
        transparent 178deg 220deg,
        var(--sparkle-color) 220deg,
        transparent 222deg 270deg,
        var(--sparkle-color) 270deg,
        transparent 275deg 300deg,
        var(--sparkle-color) 300deg,
        transparent 303deg 360deg
      );
  
    border-radius: 50%;
    clip-path: polygon(
      50% 0,
      59.13% 26.64%,
      85.13% -2.35%,
      100% 50%,
      50% 100%,
      0 50%,
      31.39% 34.86%
    );
  
    content: "";
  
    filter: blur(1px);
  
    transform: scale(0);
  }
  
  @media screen and (max-width: 600px) {
    h1 {
      font-size: 2.5rem;
      text-align: center;
      display: block;
      

    }

    #presents{
        margin-left: 20px;
        font-size: 2.5rem;
        margin-top: 150px;
        font-family:"MODERN WARFARE" ;
        
    }
    #Abhedya{
        font-size: 2.5rem;
        font-family:"MODERN WARFARE" ;

       
    }
     /* sparkle */
   .superscript::after {
    --size: 6rem;
    margin-left: -50px;
    }
  
  
}

#presents{
margin-left: 20px;
font-size: 7rem;
margin-top: 200px;
font-family:"MODERN WARFARE" ;
margin-top: -3%;
margin-left: -100px;


}
#Abhedya{
font-size: 7rem;
font-family:"MODERN WARFARE" ;
color: white;
font-size: rem;
margin-left: -100px;
padding-bottom: 100px;

}

.section-title{
  font-family: 'Space Age', sans-serif;   
  font-size: 5rem;
  margin: auto;
margin-top: 0%;


}


#aboutcontent{
  height: 500px;
  margin-top: 0;
  font-size: 4rem;
  color: white;
  font-family: cursive;
color: white ;
background-color: rgb(61, 46, 51,.5);
border-radius: 20px;
box-shadow: rgba(241, 239, 239, 0.25) 0px 54px 55px, rgba(249, 247, 247, 0.12) 0px -12px 30px, rgba(239, 237, 237, 0.12) 0px 4px 6px, rgba(249, 248, 248, 0.17) 0px 12px 13px, rgba(247, 245, 245, 0.09) 0px -3px 5px;

}

.hero-title{

  font-family: 'Space Age', sans-serif;   
  font-size: 5rem;


}

.hero-text{
  font-size: 2.7rem;
  font-family: cursive;
}






@media (max-width: 1200px) {

#presents{

margin: auto;
font-size: 5rem;

font-family:"MODERN WARFARE" ;


}
#Abhedya{
font-size: 5.5rem;
font-family:"MODERN WARFARE" ;

margin: auto;
}

.section-title{
  font-family: 'Space Age', sans-serif;   
  font-size: 5rem;
  margin: auto;
margin-top: 0%;


}


#aboutcontent{

  margin-top: 0;
  font-size: 4rem;
  color: white;
  font-family: cursive;
color: white ;
background-color: rgb(61, 46, 51,.5);
border-radius: 20px;
box-shadow: rgba(241, 239, 239, 0.25) 0px 54px 55px, rgba(249, 247, 247, 0.12) 0px -12px 30px, rgba(239, 237, 237, 0.12) 0px 4px 6px, rgba(249, 248, 248, 0.17) 0px 12px 13px, rgba(247, 245, 245, 0.09) 0px -3px 5px;

}

.hero-title{

  font-family: 'Space Age', sans-serif;   
  font-size: 5rem;
  margin-top: 10%;

}

.hero-text{
  font-size: 3rem;
  font-family: cursive;
}



 
 }

 @media (max-width: 1000px) {

  #presents{

  margin-left: 20px;
  font-size: 6.5rem;
  margin-top:-100px;
  font-family:"MODERN WARFARE" ;
  
  
  }
  #Abhedya{
  font-size: 6.5rem;
  font-family:"MODERN WARFARE" ;
  margin-left: 20px;
  }
  
  .section-title{
    font-family: 'Space Age', sans-serif;   
    font-size: 5rem;
    margin: auto;
  margin-top: -10%;
  
  
  }
  
  
  #aboutcontent{
  
    margin-top: 0;
    font-size: 3.3rem;
    color: white;
    font-family: cursive;
  color: white ;
  background-color: rgb(61, 46, 51,.5);
  border-radius: 20px;
  box-shadow: rgba(241, 239, 239, 0.25) 0px 54px 55px, rgba(249, 247, 247, 0.12) 0px -12px 30px, rgba(239, 237, 237, 0.12) 0px 4px 6px, rgba(249, 248, 248, 0.17) 0px 12px 13px, rgba(247, 245, 245, 0.09) 0px -3px 5px;
  
  }
  
  .hero-title{
  
    font-family: 'Space Age', sans-serif;   
    font-size: 6rem;
    margin-top: 10%;
  
  }
  
  .hero-text{
    font-size: 3rem;
    font-family: cursive;
  }
  
  
   
   } 


@media (max-width: 760px) {

#presents{
margin-left: 20px;
font-size: 5rem;
margin-top: 15%;
font-family:"MODERN WARFARE" ;


}
#Abhedya{
font-size: 5rem;
font-family:"MODERN WARFARE" ;
margin-left: 20px;
}

.section-title{
  font-family: 'Space Age', sans-serif;   
  font-size: 4rem;
  margin: auto;
margin-top: -10%;


}


#aboutcontent{

  margin-top: 0;
  font-size: 3.3rem;
  color: white;
  font-family: cursive;
color: white ;
background-color: rgb(61, 46, 51,.5);
border-radius: 20px;
box-shadow: rgba(241, 239, 239, 0.25) 0px 54px 55px, rgba(249, 247, 247, 0.12) 0px -12px 30px, rgba(239, 237, 237, 0.12) 0px 4px 6px, rgba(249, 248, 248, 0.17) 0px 12px 13px, rgba(247, 245, 245, 0.09) 0px -3px 5px;

}

.hero-title{

  font-family: 'Space Age', sans-serif;   
  font-size: 4rem;

}

.hero-text{
  font-size: 3rem;
  font-family: cursive;
}





}
@media (max-width: 560px) {

#presents{

font-size: 4.5rem;
margin-top: 10px;
font-family:"MODERN WARFARE" ;
margin-left: -20px;

}
#Abhedya{
font-size: 4.5rem;
font-family:"MODERN WARFARE" ;
margin-left: -40px;
margin-top: 10px;
}

.section-title{
  font-family: 'Space Age', sans-serif;   
  font-size: 3rem;
  margin: auto;
  margin-top: -17%;



}


#aboutcontent{
  margin-top: 0;
  font-size: 3rem;
  color: white;
  font-family: cursive;
color: white ;
background-color: rgb(61, 46, 51,.5);
border-radius: 20px;
box-shadow: rgba(241, 239, 239, 0.25) 0px 54px 55px, rgba(249, 247, 247, 0.12) 0px -12px 30px, rgba(239, 237, 237, 0.12) 0px 4px 6px, rgba(249, 248, 248, 0.17) 0px 12px 13px, rgba(247, 245, 245, 0.09) 0px -3px 5px;
}

.hero-title{

  font-family: 'Space Age', sans-serif;   
  font-size: 3.5rem;

}

.hero-text{
  font-size: 2.3rem;
  font-family: cursive;
}



}


@media (max-width: 390px) {

  #presents{
  margin-left: 20px;
  font-size: 3.6rem;
  margin-top: 0px;
  font-family:"MODERN WARFARE" ;
  margin-left: -0px;
  
  
  }
  #Abhedya{
  font-size: 3.6rem;
  
  font-family:"MODERN WARFARE" ;
  margin-left: 20px;
  }
  

 .section-title{
  font-family: 'Space Age', sans-serif;   
  font-size: 3rem;
  margin: auto;
  margin-top: -25%;

}


#aboutcontent{

  height: 600px;
  margin-top: -13%;
  font-size: 2.7rem;
  color: white;
  font-family: cursive;
color: white ;
background-color: rgb(61, 46, 51,.5);
border-radius: 20px;
box-shadow: rgba(241, 239, 239, 0.25) 0px 54px 55px, rgba(249, 247, 247, 0.12) 0px -12px 30px, rgba(239, 237, 237, 0.12) 0px 4px 6px, rgba(249, 248, 248, 0.17) 0px 12px 13px, rgba(247, 245, 245, 0.09) 0px -3px 5px;
}

.hero-title{
  margin-top: -20px;
  font-family: 'Space Age', sans-serif;   
  font-size: 3rem;

}

.hero-text{
  font-size: 2.3rem;
  font-family: cursive
  
}
}