

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&family=Rubik+Doodle+Shadow&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&family=Rubik+Doodle+Shadow&family=Rubik:wght@300&display=swap');

html{
  font-size: 20px;
}

  body {
  
    margin: 0;
    padding: 0;
    background-image: url(../../../public/image1_0.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    font-family: 'Rubik', sans-serif;
    backdrop-filter: blur(5px);

    }
    .container{
      border-radius: 20px;
      
     
      
      
    }

    .form{
      margin-top: -30px;
    }

    .row{
      border-radius: 20px;
     
    }
    .card{
      background-color:rgb(167, 99, 66,.3)  ;
      border-radius: 20px;
      box-shadow: 10px 5px 0px 0px rgb(0,0,0,.5);
    }
     .card-body{
      
      background-color:rgb(167, 99, 66,.3);
      border-radius: 20px;


     }
    .btn-login {
      font-size: .7rem;
      letter-spacing: 0.05rem;
      padding: 0.75rem 1rem;
      
    }
    .card-title{
      font-size: 20px;
      
    }
    #login{
      
      font-size: 3rem;
      color: rgb(1, 1, 1);
      font-family:sans-serif;
      margin-top: -10px;
      
    }
    
    .form-floating{
      font-size: 1rem;
      color:rgb(253, 250, 250);
      
    }
    .form-control{
      color: rgb(251, 247, 247);
      font-size: 20px;
      background-color: #ffffff03;
    }
   .text-center {
    margin-top: 50px;
    color: rgb(125, 11, 11);
   }
   .text-center:hover{
    color: blue;
   }
   #forgotPasswordLink{
    color: white;
    
   
   }
   #SignUp{
    color: white;

   }
   .btn-primary {
    color: #fff;
    background-color:  #90553a6b;;
    border-color:white;
}     


  
