


html{
font-size: 20px;
}

*{
margin: 0;
padding :0;

}

body{
background-image: url(../../../public/image/bg.png);
color: white;
background-size: cover;
background-repeat:  no-repeat;

background-position: center;
backdrop-filter: blur(5px);
padding: 20px;
background-attachment: fixed;
}
a{
text-decoration: none;
color: white;
}
.cardlogin{
background-color:rgb(167, 99, 66,.3)  ;
border-radius: 20px;
box-shadow: rgba(9, 9, 9, 0.25) 0px 54px 55px, rgba(2, 0, 0, 0.12) 0px -12px 30px, rgba(14, 6, 6, 0.12) 0px 4px 6px, rgba(16, 15, 15, 0.17) 0px 12px 13px, rgba(3, 1, 1, 0.09) 0px -3px 5px;
width: 450px;
height: 600px;
margin: auto;
margin-top:150px;
}

.mainheader{
background-color:rgb(167, 99, 66,.3)  ;
border-radius: 20px;
box-shadow: rgba(9, 9, 9, 0.2) 0px 54px 55px, rgba(2, 0, 0, 0.1) 0px -12px 30px, rgba(14, 6, 6, 0.1) 0px 4px 6px, rgba(16, 15, 15, 0.15) 0px 12px 13px, rgba(3, 1, 1, 0.09) 0px -3px 5px;
width: 450px;
height: 600px;
margin-left: 470px;
margin-top: 0px;
}

.headerlogin{
text-align: center;
font-size: 8rem;
padding-top: 0px;
margin-left: -70px;
}



.componentslogin{
display: flex;
flex-direction: column;
margin-top: 10px;
margin-left: 0px;
width: 400px;
font-size: 35px;
}

input{
width: 350px;
height: 40px;
border: solid white 1px;
border-radius: 5px;
margin-top: 20px;
background-color: white ;
font-size: 4rem;

}
.buttonlogin{
margin-left: 0px;
margin-top: 15px;

}

#Buttonlogin{
height: 50px;
width: 70%;
border: solid white 1px;
background-color:rgb(167, 99, 66,.3)  ;
border-radius: 5px;
font-size: 2rem;
color: white;



}

#Buttonlogin:hover{
cursor: pointer;
border: solid white 4px;

}

.textlogin{

margin-top: 15px;
text-align: center;
font-size: 2.5rem;
margin-left: -50px;


}

.Signup{
margin-top: 20px;
}




@media screen and (max-width: 768px) {
  .cardlogin {
      width: 80%;
      margin-left: 10%;
      height: auto;
  }

  .mainheaderlogin {
      font-size: 3rem;
      margin-left: 5%;
  }

  .componentslogin {
      width: 80%;
      margin-left: 10%;
      font-size: 2rem;;
  }

  input {
      width: 100%;
  }



  #Buttonlogin {
      width: 30%;
margin-left: 10%;
      font-size: 2rem;
      margin-top: -20px;
  }

  .textlogin {
      font-size: 2rem;
  }
}


@media screen and (max-width: 1000px) {
  .cardlogin {
      width: 80%;
      margin-left: 10%;
      height: auto;
  }

  .mainheaderlogin {
      font-size: 3rem;

  }

  .componentslogin {
      width: 80%;
      margin-left: 10%;
      font-size: 2rem;;
  }

  input {
      width: 80%;
  }



  #Buttonlogin {
      width: 30%;
margin-left: 10%;
      font-size: 2rem;
      margin-top: -20px;
  }

  .textlogin {
      font-size: 2rem;
  }
}

@media screen and (min-width: 768px) {
  .cardlogin {
      max-width: 80%
  }

  .mainheaderlogin {
      font-size: 8rem;
      margin-left: 15%;
  }

  input {
      font-size: 4rem;
      margin-left: 0;
  }

  .buttonlogin {
      margin-left: 10%;
  }
}

@media screen and (max-width: 480px) {
  .cardlogin {
      padding: 10px;
      margin-left: 10%;
  }

  .mainheaderlogin {
      font-size: 3rem;
      margin-left: 5%;
  }

  input {
      font-size: 2rem;
      margin-left: 0;
  }

  .buttonlogin {
      margin-left: 5%;
  }
}



